.Container {
  display: flex;
  background-color: rgba(32, 35, 41, 0.7);
  border-bottom: rgb(192, 223, 64) solid 1px;
  border-top: #c0df40 solid 1px;
  -webkit-text-stroke: 0.1px #3daec2ab;
  color: #c0df40;
  font-size: 1.5em;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  align-content: center;
  margin-top: 30px;
  margin-bottom: -271.2px;
}

.IMG {
  margin-top: -70px;
}
