.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  width: 100%;
  top: 0;
  z-index: 1;
  position: fixed;
  background-color: rgb(0, 0, 0);
  border-bottom: #c0df40 solid 1px;
  overflow: hidden;
  flex-wrap: wrap-reverse;
}

.divTitle {
  height: 90px;
  width: 250px;
  margin-bottom: 10px;
  margin-top: -20px;
  background-image: url(../../img/title.gif);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.menu {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.home {
  top: 0;
  height: 5em;
  width: 5em;
  border-radius: 50%;
  border-color: #3daec299;
  background-image: url(../../img/planeta-tierra.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transition: 1s;
  cursor: pointer;
}

.home:hover {
  transition: 1.5s;
  /* transform: translateY(-10px); */
  transform: rotate(1800deg);
  box-shadow: 0px 0px 40px #8db001;
}

.about {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  border-color: #3daec299;
  background-image: url(../../img/astronauta.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  transition: 1s;
  cursor: pointer;
}

.about:hover {
  transition: 1.5s;
  /* transform: translateY(-10px); */
  transform: rotate(1800deg);
  box-shadow: 0px 0px 40px #8db001;
}

.favorites {
  height: 5em;
  width: 5em;
  border-radius: 50%;
  background-color: #3daec299;
  border-color: #3daec299;
  background-image: url(../../img/portal.png);
  background-repeat: no-repeat;
  background-position: 2px center;
  background-size: 95%;
  transition: 1s;
  cursor: pointer;
}

.favorites:hover {
  transition: 1.5s;
  /* transform: translateY(-10px); */
  transform: rotate(1800deg);
  box-shadow: 0px 0px 40px #8db001;
}

@media (max-width: 799px) {
  .divTitle {
    position: static;
    order: 1;
    margin-bottom: -2em;
    z-index: -1;
  }

  .menu {
    margin-bottom: 1em;
  }
}

@media (max-width: 519px) {
  .divTitle {
    position: static;
    order: 1;
    z-index: -1;
  }
  .menu {
    margin-top: 0em;
    margin-bottom: -0.2em;
  }
  .home {
    height: 3em;
    width: 3em;
  }

  .about {
    height: 3em;
    width: 3em;
  }

  .favorites {
    height: 3em;
    width: 3em;
  }
}
